.u-center-text{
    text-align: center !important;
}
.u-margin6{
    margin-bottom: 8rem !important;
}
.u-margin4{
    margin-bottom: 4rem !important;
}
.u-margin2{
    margin-bottom: 1.5rem !important;
}
.u-margin-top{
    margin-top: 8rem !important;
}
.u-margin3{
    margin-bottom: -15rem !important;
}